<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.css}"
          href="css/bootstrap.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>검색 목록</h2>
    </div>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>아티스트 이름</th>
                <th>앨범 이름</th>
                <th>발매일</th>
                <th>삭제</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="like : ${likes}">
                <td th:text="${like.getArtistName()}">Artist Name</td>
                <td th:text="${like.getCollectionName()}">Collection Name</td>
                <td th:text="${like.getReleaseDate()}">Release Date</td>
                <td>
                    <form th:action="@{/home/likes/{id}(id=${like.getCollectionId()})}" method="post">
                        <input type="hidden" name="_method" value="delete"/>
                        <button type="submit" class="btn btn-danger">삭제</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div> <!-- /container -->
</body>
</html>
